{% extends 'base.html' %}
{% block content %}
<h3 class="mb-3">Book Appointment</h3>
<form method="post">
  {{ form.hidden_tag() }}
  <div class="row g-3">
    <div class="col-md-6">
      <label class="form-label" for="doctor_id">{{ form.doctor_id.label.text }}</label>
      {{ form.doctor_id(class='form-select', id='doctor_id') }}
      <div class="invalid-feedback">Please select a doctor.</div>
    </div>
    <div class="col-md-3">
      <label class="form-label" for="date">{{ form.date.label.text }}</label>
      {{ form.date(class='form-control', id='date') }}
      <div class="invalid-feedback">Please choose a date.</div>
    </div>
    <div class="col-md-3">
      <label class="form-label" for="time">{{ form.time.label.text }}</label>
      {{ form.time(class='form-control', id='time') }}
      <div class="invalid-feedback">Please choose a time.</div>
    </div>
  </div>
  <div class="mt-4">
    {% include 'partials/availability.html' %}
  </div>
  <div class="mt-3">{{ form.submit(class='btn btn-primary') }}</div>
</form>
{% include 'partials/confirm_booking_modal.html' %}
{% endblock %}
