{% extends 'base.html' %}
{% block content %}
<h3>Departments</h3>
<form method="post" class="row g-3">
  {{ form.hidden_tag() }}
  <div class="col-md-4">{{ form.name.label }} {{ form.name(class='form-control') }}</div>
  <div class="col-md-6">{{ form.description.label }} {{ form.description(class='form-control') }}</div>
  <div class="col-md-2 mt-4">{{ form.submit(class='btn btn-primary') }}</div>
</form>
<table class="table table-striped mt-3">
  <thead><tr><th>Name</th><th>Description</th></tr></thead>
  <tbody>
    {% for d in departments %}
      <tr><td>{{ d.name }}</td><td>{{ d.description }}</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
