{% extends 'base.html' %}
{% block content %}
<h3>Search</h3>
<form method="get" class="mb-3">
  <div class="input-group">
    <input type="text" class="form-control" name="q" value="{{ q }}" placeholder="Search by name...">
    <button class="btn btn-primary">Search</button>
  </div>
</form>
<div class="row">
  <div class="col-md-6">
    <h5>Doctors</h5>
    <ul class="list-group">
      {% for d in doctors %}<li class="list-group-item">{{ d.name }} - {{ d.specialization.name }}</li>{% else %}<li class="list-group-item">No results</li>{% endfor %}
    </ul>
  </div>
  <div class="col-md-6">
    <h5>Patients</h5>
    <ul class="list-group">
      {% for p in patients %}<li class="list-group-item">{{ p.name }} - {{ p.email }}</li>{% else %}<li class="list-group-item">No results</li>{% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
